doctype html
html(lang='ru')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Корзина
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.cart-page.loading
    include includes/header
    main
      
      section
        .container-fluid
          .row
            .col-md-12.text-center
              h6 корзина
              br
            .col-md-9
              .cart-list
                .cart-item
                  .row
                    .col-md-6
                      .row
                        .col-md-6
                          .pic(style="background-image: url(media/img-p/10/01.jpg)")
                        .col-md-6
                          h2 Игрушечные машинки Тачки 3шт. 
                    .col-md-6
                      .row
                        .col-md-6
                          .product-how-quantity
                            span.quantity-minus -
                            input.quantity-amount(type="text" value="1")
                            span.quantity-plus +
                        .col-md-6
                          .product-info-price
                            h3 
                              | 150
                              span грн
                .cart-item
                  .row
                    .col-md-6
                      .row
                        .col-md-6
                          .pic(style="background-image: url(media/img-p/10/03.jpg)")
                        .col-md-6
                          h2 Батут детский для игр
                    .col-md-6
                      .row
                        .col-md-6
                          .product-how-quantity
                            span.quantity-minus -
                            input.quantity-amount(type="text" value="1")
                            span.quantity-plus +
                        .col-md-6
                          .product-info-price
                            h3 
                              | 150
                              span грн
                .cart-total
                  h4 
                    |Итого:
                    span 300 грн
            .col-md-3
              .login-or-register-box
                ul.tabs-nav
                  li.active
                    a(href="") Нет аккаунта
                  li
                    a(href="") Есть аккаунт
                ul.tabs-contant
                  li
                    form(action="")
                      input(name="fio" type="text" placeholder="ФИО")
                      input(name="email" type="email" placeholder="E-mail")
                      input(name="phone" type="number" placeholder="Телефон")
                      input(name="pass" type="password" placeholder="Пароль")
                      input.btn(type="submit" value="Купить")
            
            
           
    include includes/footer  
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://use.fontawesome.com/2b87f5494f.js")
    script(src="js/lib/lightslider.js")
    script(src="js/scripts.js")
    
    
  