doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Catalog page
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
  body.question-page.loading
    include includes/header
    main
      
      section
        .container-fluid
          .row
            .col-md-9.col-md-offset-3
              h1 Вопросы и ответы
          .row.question-item
            .col-md-3.col-sm-4.col-md-offset-3
              span 1.
            .col-md-3.col-sm-4
              h3 Сколько стоит доставка ваших игрушек если я не отсюда?
            .col-md-3.col-sm-4
              p Доставка занимает от одного до двух часов, в зависимости от скорости велокурьера и времен года. Стоимость доставки рассчитывается из цен на сахар и муку, чтобы было можно печь пирожки
          .row.question-item
            .col-md-3.col-sm-4.col-md-offset-3
              span 2.
            .col-md-3.col-sm-4
              h3 Сколько стоит доставка ваших игрушек если я не отсюда?
            .col-md-3.col-sm-4
              p Доставка занимает от одного до двух часов, в зависимости от скорости велокурьера и времен года. Стоимость доставки рассчитывается из цен на сахар и муку, чтобы было можно печь пирожки
          .row.question-item
            .col-md-3.col-sm-4.col-md-offset-3
              span 3.
            .col-md-3.col-sm-4
              h3 Сколько стоит доставка ваших игрушек если я не отсюда?
            .col-md-3.col-sm-4
              p Доставка занимает от одного до двух часов, в зависимости от скорости велокурьера и времен года. Стоимость доставки рассчитывается из цен на сахар и муку, чтобы было можно печь пирожки
          .row.question-item
            .col-md-3.col-sm-4.col-md-offset-3
              span 4.
            .col-md-3.col-sm-4
              h3 Сколько стоит доставка ваших игрушек если я не отсюда?
            .col-md-3.col-sm-4
              p Доставка занимает от одного до двух часов, в зависимости от скорости велокурьера и времен года. Стоимость доставки рассчитывается из цен на сахар и муку, чтобы было можно печь пирожки
    include includes/footer  
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://use.fontawesome.com/2b87f5494f.js")
    script(src="js/lib/lightslider.js")
    script(src="js/scripts.js")
    
    
  