.page-title
  padding: 20px 0 70px
  position: relative
  .page-title-title
    text-align: center
    h1
      font-weight: 100
      letter-spacing: 2px
      margin-bottom: 20px
      margin: 0
      font-size: 50px
    a
      color: rgba(0, 0, 0, 0.5)
  a.btn
    border: 0
    padding: 0
    padding-top: 25px
      
      