footer
  span.icon.icon21
  span.icon.icon29
  span.icon.icon6
  .container-fluid
    .row
      .col-md-3
        ul.top-menu
          li 
            a(href="") Популярное
          li
            a(href="") Новинки
          li
            a(href="") Видео
        ul.lang-menu
          li
            a(href="") РУС
          li
            a(href="") УКР
      .col-md-3
        ul.main-menu
          li
            a(href="") Главная
          li
            a(href="") Оплата
          li
            a(href="") Доставка
          li
            a(href="") Почему мы?
          li
            a(href="") Вопросы и ответы
          li
            a(href="") Отзывы
          li
            a(href="") Связаться
      .col-md-3
        .clon-top-menu
          a(href="") office@babyplus.ua
          a(href="") +38 (096) 033-77-00
          a(href="") +38 (099) 9-555-572
          a(href="") +38 (063) 313-11-33
          br
          ul.work-time
            li
              | Пн
              br
              |8
              br
              ||
              br
              |18
            li
              | Вт
              br
              |8
              br
              ||
              br
              |18
            li
              | Ср
              br
              |8
              br
              ||
              br
              |18
            li
              | Чт
              br
              |8
              br
              ||
              br
              |18
            li
              | Пт
              br
              |8
              br
              ||
              br
              |18
            li
              | Сб
              br
              |8
              br
              ||
              br
              |15
            li
              | Вс
              br
              |—
              br
              | 
              br
              | 
      .col-md-3
        .text-about
          h4 Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
          p Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый
          
          
          
          
.contact-form-box
  
  .container-fluid
    .row.info-contact
      .col-md-3
        h6 Связаться с нами
      
      .col-md-3
        a(href="") office@babyplus.ua
        a(href="") +38 (096) 033-77-00
      .col-md-3
        a(href="") +38 (099) 9-555-572
          a(href="") +38 (063) 313-11-33
      .col-md-3.text-right
        button.btn.close-contact Закрыть ×
    .row
      .col-md-12
        form(action="")
          .first-step.step
            textarea#message(placeholder="Напишите ваше сообщение здесь")
            button.btn.to-second-step Дальше ↝
            // if user login its button send form
            //
           
          .second-step.step
            input#name(name="name" type="text" placeholder="Введите имя")
            button.btn.to-third-step Дальше ↬
          .third-step.step
            input(name="email" type="text" placeholder="Номер телефона или email")
            input.btn.send(type="submit" value="Отправить ⇉")