header
  .container-fluid
    .row
      .col-sm-3.col-xs-3
        button.open-off-menu
          span.lines
          span.text-menu МЕНЮ
      .col-sm-3.col-xs-3
        a.logo(href="/")
          span.logo-half-one
            img(src="media/logo-soroka.svg", alt="")
          span.logo-half-two
            img(src="media/logo-soroka-text.svg", alt="")
          span.logo-half-three
            img(src="media/logo-soroka-long.png", alt="")
      .col-sm-3.col-xs-3.search-box
        .search-area
          input(type="text" placeholder="Поиск товаров")
          button.send
            i.fa.fa-search
      .col-sm-3.col-xs-3
        a.cart-box(href="cart.html")
          .row
            .col-xs-6
              i.fa.fa-shopping-cart
            .col-xs-6.text-center
              p 
                | 0
                
            
            
          
            
            
              
.off-canvas-header
  
  .first-menu
    ul.top-menu
      li 
        a(href="") Популярное
      li
        a(href="") Новинки
      li
        a(href="") Видео
    ul.lang-menu
      li
        a(href="") РУС
      li
        a(href="") УКР
    ul.main-menu
      li
        a(href="index.html") Главная
      li
        a(href="about.html") Оплата
      li
        a(href="about.html") Доставка
      li
        a(href="about.html") Почему мы?
      li
        a(href="about.html") Вопросы и ответы
      li
        a(href="") Отзывы
      li
        a.open-contact-form(href="#") Связаться
    .clon-top-menu
      a(href="") office@babyplus.ua
      a(href="") +38 (096) 033-77-00
      a(href="") +38 (099) 9-555-572
      a(href="") +38 (063) 313-11-33
      ul.work-time
        li
          | Пн
          br
          |8
          br
          ||
          br
          |18
        li
          | Вт
          br
          |8
          br
          ||
          br
          |18
        li
          | Ср
          br
          |8
          br
          ||
          br
          |18
        li
          | Чт
          br
          |8
          br
          ||
          br
          |18
        li
          | Пт
          br
          |8
          br
          ||
          br
          |18
        li
          | Сб
          br
          |8
          br
          ||
          br
          |15
        li
          | Вс
          br
          |—
          br
          | 
          br
          | 
          
  .second-menu
    ul.category-menu-header
      li
        a(href="catalog.html") 
          span.icon.icon0
          h2.title
            | Игрушки
            span.cout-cat подкатегорий: 12
      li
        a(href="catalog.html") 
          span.icon.icon27
          h2.title
            | Для самых маленьких
            span.cout-cat подкатегорий: 12
      li
        a(href="catalog.html") 
          span.icon.icon2
          h2.title 
            |Канцтовары
            span.cout-cat подкатегорий: 12
      li
        a(href="catalog.html") 
          span.icon.icon17
          h2.title
            | Intex и Bestway
            span.cout-cat подкатегорий: 12
      li
        a(href="catalog.html") 
          span.icon.icon4
          h2.title
            | Одежда и обувь
            span.cout-cat подкатегорий: 12
      li
        a(href="catalog.html") 
          span.icon.icon5
          h2.title
            | Спортивные товары
            span.cout-cat подкатегорий: 12
      li
        a(href="catalog.html") 
          span.icon.icon6
          h2.title
            | Детская мебель
            span.cout-cat подкатегорий: 12
      li
        a(href="catalog.html") 
          span.icon.icon7
          h2.title
            | Детский транспорт
            span.cout-cat подкатегорий: 12
      li
        a(href="") 
          span.icon.icon8
          h2.title
            | Игрушки
            span.cout-cat подкатегорий: 12
      li
        a(href="catalog.html") 
          span.icon.icon9
          h2.title
            | Для самых маленьких
            span.cout-cat подкатегорий: 12
      li
        a(href="catalog.html") 
          span.icon.icon10
          h2.title
            | Канцтовары
            span.cout-cat подкатегорий: 12
      li
        a(href="catalog.html") 
          span.icon.icon11
          h2.title
            | Intex и Bestway
            span.cout-cat подкатегорий: 12

        
        
    