.col-md-3
  .product-thumb
    a.to-product-link(href="product.html")
    .product-pic
      .pic(style="background-image: url(media/img-p/10/00.jpg)")
      .rating
    .product-info
      .product-info-title
        h2 Машинки Тачки 3.шт
      .product-info-price
        h3 
          |120 
          span грн
    .product-controls
      a.btn.buy-button(href="#") Купить
.col-md-3
  .product-thumb
    a.to-product-link(href="product.html")
    .product-pic
      .pic(style="background-image: url(media/img-p/10/01.jpg)")
      .rating
    .product-info
      .product-info-title
        h2 Машинки гоночные Тачки в бумажной упаковке с пластмасом
      .product-info-price
        h3 
          |120 
          span грн
    .product-controls
      a.btn.buy-button(href="#") Купить
.col-md-3
  .product-thumb
    a.to-product-link(href="product.html")
    .product-pic
      .pic(style="background-image: url(media/img-p/10/04.jpg)")
      .rating
    .product-info
      .product-info-title
        h2 Конструктор авто паркинг для будущих строителей
      .product-info-price
        h3 
          |120 
          span грн
    .product-controls
      a.btn.buy-button(href="#") Купить
.col-md-3
  .product-thumb
    a.to-product-link(href="product.html")
    .product-pic
      .pic(style="background-image: url(media/img-p/10/05.jpg)")
      .rating
    .product-info
      .product-info-title
        h2 Мячики из спресованных животных
      .product-info-price
        h3 
          |120 
          span грн
    .product-controls
      a.btn.buy-button(href="#") Купить




.col-md-3
  .product-thumb
    a.to-product-link(href="product.html")
    .product-pic
      .pic(style="background-image: url(media/img-p/10/07.jpg)")
      .rating
    .product-info
      .product-info-title
        h2 Уточки комплект 3 шт.
      .product-info-price
        h3 
          |750
          span грн
    .product-controls
      a.btn.buy-button(href="#") Купить



.col-md-3
  .product-thumb
    a.to-product-link(href="product.html")
    .product-pic
      .pic(style="background-image: url(media/img-p/10/011.jpg)")
      .rating
    .product-info
      .product-info-title
        h2 Набор для убийств
      .product-info-price
        h3 
          |750
          span грн
    .product-controls
      a.btn.buy-button(href="#") Купить

.col-md-3
  .product-thumb
    a.to-product-link(href="product.html")
    .product-pic
      .pic(style="background-image: url(media/img-p/10/012.jpg)")
      .rating
    .product-info
      .product-info-title
        h2 Стремный младенец
      .product-info-price
        h3 
          |666
          span грн
    .product-controls
      a.btn.buy-button(href="#") Купить

.col-md-3
  .product-thumb
    a.to-product-link(href="product.html")
    .product-pic
      .pic(style="background-image: url(media/img-p/10/013.jpg)")
      .rating
    .product-info
      .product-info-title
        h2 Штука которую сьедят ваши дети
      .product-info-price
        h3 
          |1750
          span грн
    .product-controls
      a.btn.buy-button(href="#") Купить
      
      